@font-face {
  font-family: "BillyOhio";
  src: url("./assets/fonts/BillyOhio.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monday";
  src: url("./assets/fonts/Monday.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "calistoga";
  font-style: normal;
  font-weight: 400;
  src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/calistoga/v16/6NUU8F2OJg6MeR7l4e0fvMwB49dJfuWv.woff2")
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
  font-display: swap;
}

@font-face {
  font-family: "calistoga";
  font-style: normal;
  font-weight: 400;
  src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/calistoga/v16/6NUU8F2OJg6MeR7l4e0fvcwB49dJfuWv.woff2")
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}

@font-face {
  font-family: "calistoga";
  font-style: normal;
  font-weight: 400;
  src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/calistoga/v16/6NUU8F2OJg6MeR7l4e0fs8wB49dJfg.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}

:root {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

.calistoga-regular {
  font-family: "Calistoga", serif;
  font-weight: 900;
  font-style: normal;
}

.es-widget-title {
  color: #f5f5f5 !important;
}

body {
  font-family: "Monday", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.pleca-superior {
  height: 10px;
}

.wrapper {
  min-width: 375px;
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  width: 180px;
  height: auto;
}

.billyohio {
  font-family: "BillyOhio", sans-serif;
}

.nav-link {
  color: green;
  border-radius: 25px;
  margin-right: 5px;
}

.nav-link:hover {
  color: white;
  background-color: green;
  border-radius: 25px;
  transition: all 0.7s ease;
}

.hero {
  width: 100%;
  height: 100vh;
  color: white;
  filter: brightness(0.9); /* 0.9 = más oscuro */
  object-fit: cover;
}

.hero-nosotros {
  background-image: url("./assets/img/hero/physisCiclovidaAC_heroImage-03.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  color: white;
}

.hero-title {
  text-shadow: 1px 1px 2px green;
  font-family: "BillyOhio", sans-serif;
  text-align: center;
  -webkit-text-stroke: 0.1px green;
  font-size: 4rem;
}

.hero-title-interior {
  text-shadow: 1px 1px 2px rgb(1, 86, 1);
  font-family: "BillyOhio", sans-serif;
  text-align: center;
  -webkit-text-stroke: 0.1px green;
  font-size: 3rem;
  text-align: left;
}

.lead {
  font-size: 0.8rem;
}

.footer-testimonio {
  display: flex;
  align-items: baseline;
}

.testimonios {
  display: none;
}

.main-carousel {
  height: 420px;
}

.carousel-gallery {
  height: 300px;
}

.carousel-gallery-sponsor {
  height: 150px;
}

.carousel-cell-sponsor {
  width: 220px; /* half-width */
  height: 160px;
  margin-right: 10px;
}

.carousel-cell {
  position: relative;
  width: 75%;
  height: 420px;
  margin-right: 10px;
  background: #8c8;
  border-radius: 15px;
}

.carousel-cell-gallery img {
  transition: transform 0.3s ease;
}

.carousel-cell-gallery img:hover {
  transform: scale(1.05);
}

.carousel-cell-gallery {
  position: relative;
  width: 25%;
  height: 300px;
  margin-right: 15px;
  background: #8c8;
  border-radius: 15px;
}

.carousel-cell .texto {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 8px;
  border-radius: 15px;
}

.carousel-cell-gallery-sponsor {
  position: relative;
  width: 20%;
  height: 150px;
  margin-right: 15px;
}

.aventura-title {
  font-family: "BillyOhio", sans-serif;
  -webkit-text-stroke: 0.1px green;
  text-shadow: 1px 1px 2px green;
  font-size: 3rem;
}

.staff-member {
  width: 270px;
  height: 350px;
  object-fit: cover;
  border-radius: 25px;
}

.accordion-item {
  border: 1px solid green; /* color del borde */
}
.accordion-button:not(.collapsed) {
  background-color: #fff; /* fondo del panel activo */
  color: black; /* texto del panel activo */
  box-shadow: none;
  border-radius: 16px;
}

.imagen-recorte {
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  height: auto; /* Mantiene la proporción original en móvil */
  display: block; /* Opcional, ayuda a la gestión de espaciado */
}

.imagen-recorte-footer {
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  height: auto; /* Mantiene la proporción original en móvil */
  display: block; /* Opcional, ayuda a la gestión de espaciado */
}

.sponsors-container {
  overflow: hidden;

  padding: 2rem 0;
}

.sponsors-track {
  display: flex;
  animation: scroll 20s linear infinite;
  width: fit-content;
}

.sponsors-track:hover {
  animation-play-state: paused;
}

.sponsor-item {
  flex: 0 0 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-width: 300px;
}

.sponsor-logo {
  max-width: 150px;
  max-height: 100px;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.sponsor-logo:hover {
  filter: grayscale(0%);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 4));
  }
}

.section-title {
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

.divider-pleca {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px; /* Ajusta la altura a tu SVG */
  background-image: url("./assets/img/pleca.svg");
  background-repeat: no-repeat;
  background-size: cover; /* o contain, depende del diseño */
  pointer-events: none;
}

/* ----------------Tabletas estándar-------------- */
@media (min-width: 768px) {
  .logo {
    width: 230px;
  }

  .hero-title {
    text-shadow: 2px 2px 4px green;
    font-family: "BillyOhio", sans-serif;
    text-align: right;
    -webkit-text-stroke: 0.3px green;
    font-size: 5rem;
  }

  .testimonios {
    display: block;
  }

  .carousel {
    overflow: hidden;
    width: 100%;
  }

  .carousel__track {
    display: flex;
    transition: transform 0.5s ease;
    gap: 2rem;
  }

  .carousel__slide {
    flex: 0 0 calc(100% - 2rem);
    text-align: left;
    padding: 2rem;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid #fff;
    color: #fff;
    border-radius: 25px;
  }

  .carousel__texto-titulo-testimonio {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }
  .carousel__texto-testimonio {
    font-style: italic;
    font-size: 0.8rem;
  }

  .lead {
    font-size: 1.2rem;
  }

  .imagen-recorte {
    /*
          1. Establecemos la altura deseada (380px en desktop)
          2. Establecemos el ancho al 100% para que intente cubrir el área
        */
    height: 350px;
    width: 100%;

    /* ESTO ES LO CLAVE PARA EVITAR LA DEFORMACIÓN: */
    object-fit: cover;
    /* 'cover' hará que la imagen cubra completamente el espacio de 380px,
           recortando el exceso si es necesario, pero manteniendo siempre
           su proporción original. */
  }

  .imagen-recorte-footer {
    /*
          1. Establecemos la altura deseada (380px en desktop)
          2. Establecemos el ancho al 100% para que intente cubrir el área
        */
    height: 220px;
    width: 100%;

    /* ESTO ES LO CLAVE PARA EVITAR LA DEFORMACIÓN: */
    object-fit: cover;
    /* 'cover' hará que la imagen cubra completamente el espacio de 380px,
           recortando el exceso si es necesario, pero manteniendo siempre
           su proporción original. */
  }
}

/* Escritorio estándar */
@media (min-width: 1200px) {
  .hero {
    background-position: center;
    width: 100%;
    height: 90vh;
  }
  .hero-title {
    text-shadow: 2px 2px 3px green;
    -webkit-text-stroke: 0.3px green;
    font-size: 5rem;
  }

  .hero-nosotros {
    height: 65vh;
  }

  .hero-title-interior {
    font-size: 5rem;
    -webkit-text-stroke: 0.3px green;
    text-shadow: 2px 2px 4px rgb(1, 86, 1);
  }

  .carousel-cell {
    width: 30%;
    height: 420px;
  }

  .aventura-title {
    font-size: 6rem;
    -webkit-text-stroke: 0.3px green;
    text-shadow: 2px 2px 4px green;
  }
}
